.main-rating-card {
    width: 100%;
    height: auto;
    margin-bottom: 15px;

    .product-rating-user {
        .ant-rate-star {
            font-size: 13px;
            color: #fab529;
            margin-inline-end: 4px;
        }
    }

    .user-name{
        font-size: 14px;
        font-weight: 500;
        .time-span{
            font-size: 12px;
            color: #4a4a4a;
        }
    }
    .product-comments{
        font-size: 15px;
        color: #4a4a4a;
        margin-top: 8px;
    }
}