.item-card-main{
    background-color: #f3f3f359;
    border: none;
    margin-bottom: 15px;
    .ant-card-body{
        padding: 15px !important;
    }
}
.cart-items-wrapper {
  display: flex;
  gap: 10px;
  .image-wrapper {
    width: 103px;
    height: 90px;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: -webkit-fill-available;
      height: -webkit-fill-available;
    }
  }
  .gripper-products-utills {
    @media (max-width: 768px){
      width: 70%;
  }
    h3 {
      font-size: 16px;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
