.wrapper-main-landing-page {

  .advance-search {
    .input-adv-search {
      background-color: #F3F3F3;
      width: 90vw;
      height: 45px;
      border-radius: 10px;
      padding: 0px 22px;
      border: none;
      input{
        background-color: #F3F3F3;
      }
    }
    // position: absolute;
    // left: 0;
    // right: 0;
    // margin: 0 auto;
    width: fit-content;
  }

  .grouped-products {
    background-color: #f3f3f3;
    width: 100%;
    height: 95px;
    position: relative;
    @media (max-width: 768px) {
      height: 99px;
    }
    img {
      position: absolute;
      width: 100%;
      // right: 78px;
      bottom: 0;
      
      @media (max-width: 768px) {
        opacity: 0.6;
      }
    }

    .grouped-inner {
      
      width: 93%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 768px) {
        width: 95%;
      }

      

      .head-grp {
        position: relative;
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 18px;
          @media (max-width: 768px) {
            font-size: 14px;
          }
        }

        p {
          font-size: 12px;
          color: #5c5c5c;
          @media (max-width: 768px) {
            font-size: 11px;
          }
        }
      }

      button {
        background-color: #000;
        height: auto;
        width: auto;
        padding: 5px 19px;
        color: #fff;
        border-radius: 30px;
        border: 0px;
      }
    }

  }

  .category-open-bar-wrapper {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70px;
    // border-bottom: 1px solid #e7e7e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 max(min(50% - 496px,44px),20px);
    position: relative;

    @media (max-width: 768px) {
      padding: 10px 20px 0px 20px;
      height: auto;
    }

    .section-one {
      display: flex;
      align-items: center;
      gap: 20px;

      @media (max-width: 768px) {
        gap: 8px;
        align-items: flex-start;
        overflow: scroll;
        display: flex;
        white-space: nowrap;
        padding: 0px 0px 9px 0px;
      }

      .hamburger-btn {
        background-color: #fab529;
        display: flex;
        align-items: center;
        gap: 12px;
        height: 40px;
        width: fit-content;
        padding: 10px 23px;

        @media (max-width: 768px) {
          height: 31px;
          padding: 0px 14px;
        }
      }

      .outh-category {
        p {
          font-size: 14px;
          font-weight: 500;
          display: flex;
          align-items: center;
          gap: 5px;

          @media (max-width: 768px) {
            background-color: #e7e7e7;
            padding: 7px 13px;
            border-radius: 20px;
            font-size: 12px;
          }
        }
      }
    }

    .affilate-btn {
      background-color: #f3f3f4;
      padding: 3px 7px;
      height: 31px;
      font-size: 13px;
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .wrapper-adds-bar {
    background-color: #f3f3f3;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;

    .inner-wrapper-ads {
      width: 85%;
      height: auto;

      .img-ads {
        height: 320px;
        width: 100%;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
        border-radius: 10px;

        @media (max-width: 768px) {
          height: 170px;
        }
      }

      .adver-right {
        width: 100%;
        height: 320px;
        border-radius: 10px;
        overflow: hidden;

        @media (max-width: 768px) {
          height: 150px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .visual-category {
    .header-category {
      margin-top: 40px;
      display: flex;
      align-items: flex-end;
      gap: 20px;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
      }

      h3 {
        font-size: 20px;
        color: #5c5c5c;
      }

      p {
        font-size: 11px;
        font-weight: 500;
        color: #a4a4a4;
        display: flex;
        align-items: center;
        gap: 5px;

        img {
          margin-top: 2px;
          opacity: 0.5;
        }
      }
    }

    .flex-cards-wrapper {
      margin-top: 30px;
      display: flex;

      // gap: 10px;
      .single-category-card {
        background-color: #f7f7f7;
        width: 130px;
        height: 144px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 13px;

        img {
          opacity: 0.7;
        }

        p {
          font-size: 15px;
          font-weight: 500;
        }
      }
    }

    .card-scroll-component {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      .scroll-buttons {
        display: flex;
        width: 100%;
        gap: 7px;
        justify-content: flex-end;
        margin-top: 5px;

        button {
          background-color: #fab529;
          padding: 0 0;
          height: 25px;
          width: 30px;
          padding-top: 2px;
          transition: 0.3s;

          &:hover {
            background-color: #a4a4a4;
            filter: none m !important;
          }
        }

        .left-btn {
          img {
            width: 20px;
            height: 20px;
            transform: rotate(90deg);
            filter: invert(1) brightness(1.5);
          }
        }

        .right-btn {
          img {
            width: 20px;
            height: 20px;
            transform: rotate(270deg);
            filter: invert(1) brightness(1.5);
          }
        }
      }

      .flex-cards-container {
        overflow: hidden;
        width: 100%;

        .flex-cards-wrapper {
          display: flex;
          transition: 0.3s;
          padding: 0px 0px 20px 0px;

          .single-category-card {
            flex: 0 0 auto;
            margin: 0 10px;
            padding: 10px;
            text-align: center;
            background-color: #f7f7f7;
            width: 130px;
            height: 144px;
            border-radius: 10px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 13px;
            transition: 0.3s;

            &:first-child {
              margin: 0 5px 0 0 !important;
            }

            @media (max-width: 768px) {
              width: 95px;
              height: 120px;
              margin: 0 5px;

              img {
                width: 30px !important;
                height: 30px !important;
              }
            }

            cursor: pointer;

            img {
              width: 35px;
              height: 35px;
            }

            &:hover {
              background-color: #ffffff;
              box-shadow: 0px 10px 19px 0px rgba(154, 153, 153, 0.12);
            }
          }
        }

        /* Hide scrollbar */
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  .set-width-85 {
    width: 85%;
    margin: 0 auto;
  }

  .main-products-container {
    .head-products {
      h3 {
        font-size: 20px;
        color: #5c5c5c;
        display: flex;
        flex-direction: column;

        span {
          color: #b9b9b9;
          font-size: 11px;
        }
      }
    }

    .wrapper-product-display {
      margin-top: 20px;

    }

    .product-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
    }
  }
}


@media (max-width: 500px) {
  .set-width-85 {
    width: 95% !important;
  }

  .wrapper-main-landing-page .wrapper-adds-bar .inner-wrapper-ads {
    width: 95% !important;
  }
}